{% load static %}
{% load compress %}

<!-- CDN -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://d1azc1qln24ryf.cloudfront.net/114779/Socicon/style-cf.css?9ukd8d">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

{% compress css %}
<!-- CSS Global Compulsory -->
<link rel="stylesheet" href="{% static 'css/unify/unify.css' %}">
<!-- CSS Global Icons -->
<link rel="stylesheet" href="{% static 'vendor/icon-line/css/simple-line-icons.css' %}">
<link rel="stylesheet" href="{% static 'vendor/icon-etlinefont/style.css' %}">
<link rel="stylesheet" href="{% static 'vendor/icon-line-pro/style.css' %}">
<link rel="stylesheet" href="{% static 'vendor/icon-hs/style.css' %}">
<link rel="stylesheet" href="{% static 'vendor/animate.css' %}">
<link rel="stylesheet" href="{% static 'vendor/dzsparallaxer/dzsparallaxer.css' %}">
<link rel="stylesheet" href="{% static 'vendor/dzsparallaxer/dzsscroller/scroller.css' %}">
<link rel="stylesheet" href="{% static 'vendor/dzsparallaxer/advancedscroller/plugin.css' %}">
<link rel="stylesheet" href="{% static 'vendor/slick-carousel/slick/slick.css' %}">
<link rel="stylesheet" href="{% static 'vendor/hs-megamenu/src/hs.megamenu.css' %}">
<link rel="stylesheet" href="{% static 'vendor/hamburgers/hamburgers.min.css' %}">
<link rel="stylesheet" href="{% static 'vendor/custombox/custombox.min.css' %}">

<!-- Revolution Slider -->
<link rel="stylesheet" href="{% static 'vendor/revolution-slider/revolution/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css' %}">
<link rel="stylesheet" href="{% static 'vendor/revolution-slider/revolution/css/settings.css' %}">
<link rel="stylesheet" href="{% static 'vendor/revolution-slider/revolution/css/layers.css' %}">
<link rel="stylesheet" href="{% static 'vendor/revolution-slider/revolution/css/navigation.css' %}">

<!-- CSS Unify -->
<link rel="stylesheet" href="{% static 'css/unify/custom.css' %}">
<link rel="stylesheet" href="{% static 'css/unify/unify-core.css' %}">
<link rel="stylesheet" href="{% static 'css/unify/unify-components.css' %}">
<link rel="stylesheet" href="{% static 'css/unify/unify-globals.css' %}">

<!-- Cubeportfolio -->
<link rel="stylesheet" href="{% static 'vendor/cubeportfolio-full/cubeportfolio/css/cubeportfolio.min.css' %}">

<!-- Slick carousel -->
<link rel="stylesheet" href="{% static 'vendor/slick-carousel/slick/slick.css' %}">


<!-- CSS Customization -->
<link rel="stylesheet" href="{% static 'css/custom.css' %}">
{% endcompress %}