{% load static %}
{% load compress %}

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>

{% compress js %}
<!-- JS Global Compulsory -->
<script src="{% static 'packages/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'packages/jquery-migrate/dist/jquery-migrate.min.js' %}"></script>
<script src="{% static 'vendor/popper.min.js' %}"></script>

<!-- JS Implementing Plugins -->
<script src="{% static 'vendor/appear.js' %}"></script>
<script src="{% static 'vendor/slick-carousel/slick/slick.js' %}"></script>
<script src="{% static 'vendor/hs-megamenu/src/hs.megamenu.js' %}"></script>
<script src="{% static 'vendor/dzsparallaxer/dzsparallaxer.js' %}"></script>
<script src="{% static 'vendor/dzsparallaxer/dzsscroller/scroller.js' %}"></script>
<script src="{% static 'vendor/dzsparallaxer/advancedscroller/plugin.js' %}"></script>
<script src="{% static 'vendor/custombox/custombox.min.js' %}"></script>


<!-- JS Revolution Slider -->
<script src="{% static 'vendor/revolution-slider/revolution/js/jquery.themepunch.tools.min.js' %}"></script>
<script src="{% static 'vendor/revolution-slider/revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
<script src="{% static 'vendor/revolution-slider/revolution-addons/slicey/js/revolution.addon.slicey.min.js' %}"></script>
<script src="{% static 'vendor/revolution-slider/revolution/js/extensions/revolution.extension.actions.min.js' %}"></script>
<script src="{% static 'vendor/revolution-slider/revolution/js/extensions/revolution.extension.carousel.min.js' %}"></script>
<script src="{% static 'vendor/revolution-slider/revolution/js/extensions/revolution.extension.kenburn.min.js' %}"></script>
<script src="{% static 'vendor/revolution-slider/revolution/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
<script src="{% static 'vendor/revolution-slider/revolution/js/extensions/revolution.extension.migration.min.js' %}"></script>
<script src="{% static 'vendor/revolution-slider/revolution/js/extensions/revolution.extension.navigation.min.js' %}"></script>
<script src="{% static 'vendor/revolution-slider/revolution/js/extensions/revolution.extension.parallax.min.js' %}"></script>
<script src="{% static 'vendor/revolution-slider/revolution/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
<script src="{% static 'vendor/revolution-slider/revolution/js/extensions/revolution.extension.video.min.js' %}"></script>

<!-- JS Unify -->
<script src="{% static 'js/unify/hs.core.js' %}"></script>
<script src="{% static 'js/unify/components/hs.carousel.js' %}"></script>
<script src="{% static 'js/unify/components/hs.header.js' %}"></script>
<script src="{% static 'js/unify/helpers/hs.hamburgers.js' %}"></script>
<script src="{% static 'js/unify/components/hs.tabs.js' %}"></script>
<script src="{% static 'js/unify/components/hs.counter.js' %}"></script>
<script src="{% static 'js/unify/components/hs.go-to.js' %}"></script>
<script src="{% static 'js/unify/components/hs.modal-window.js' %}"></script>

<!-- Cubeportfolio -->
<script src="{% static 'vendor/cubeportfolio-full/cubeportfolio/js/jquery.cubeportfolio.min.js' %}"></script>
<script src="{% static 'js/unify/components/hs.cubeportfolio.js' %}"></script>

<!-- JS Customization -->
<script src="{% static 'js/custom.js' %}"></script>


<!-- JS Plugins Init. -->
<script>
  var tpj=jQuery;
			
	var revapi1063;
	tpj(document).ready(function() {
		if(tpj("#rev_slider_1063_1").revolution == undefined){
			revslider_showDoubleJqueryError("#rev_slider_1063_1");
		}else{
			revapi1063 = tpj("#rev_slider_1063_1").show().revolution({
				sliderType:"standard",
				jsFileLocation: "/media/vendor/revolution-slider/revolution/js/",
				sliderLayout:"fullscreen",
				dottedOverlay:"none",
				delay:9000,
				navigation: {
					keyboardNavigation:"off",
					keyboard_direction: "horizontal",
					mouseScrollNavigation:"off",
					mouseScrollReverse:"default",
					onHoverStop:"off",
					touch:{
						touchenabled:"on",
						swipe_threshold: 75,
						swipe_min_touches: 1,
						swipe_direction: "horizontal",
						drag_block_vertical: false
					}
					,
					 arrows: {
						style: "zeus",
						enable: true,
						hide_onmobile: false,
						hide_onleave: false,
						tmp: '<div class="tp-title-wrap">  	<div class="tp-arr-imgholder"></div> </div>',
						left: {
							h_align: "left",
							v_align: "center",
							h_offset: 10,
							v_offset: 0
						},
						right: {
							h_align: "right",
							v_align: "center",
							h_offset: 10,
							v_offset: 0
						}
					},
					bullets: {
						enable: true,
						hide_onmobile: false,
						style: "zeus",
						hide_onleave: false,
						direction: "horizontal",
						h_align: "left",
						v_align: "bottom",
						h_offset: 20,
						v_offset: 30,
						space: 5,
						tmp: '<span class="tp-bullet-image"></span><span class="tp-bullet-imageoverlay"></span><span class="tp-bullet-title">{{title}}</span>'
					},
				},
				viewPort: {
					enable:true,
					outof:"pause",
					visible_area:"80%",
					presize:false
				},
				responsiveLevels:[1200,992,768,576],
				visibilityLevels:[1200,992,768,576],
				gridwidth:[1200,992,768,576],
				gridheight:[720,720,480,360],
				lazyType:"none",
				parallax: {
					type:"scroll",
					origo:"enterpoint",
					speed:400,
					levels:[5,10,15,20,25,30,35,40,45,50,46,47,48,49,50,55],
					type:"scroll",
				},
				shadow:0,
				spinner:"off",
				stopLoop:"off",
				stopAfterLoops:-1,
				stopAtSlide:-1,
				shuffle:"off",
				autoHeight:"off",
				hideThumbsOnMobile:"off",
				hideSliderAtLimit:0,
				hideCaptionAtLimit:0,
				hideAllCaptionAtLilmit:0,
				debugMode:false,
				fallbacks: {
					simplifyAll:"off",
					nextSlideOnWindowFocus:"off",
					disableFocusListener:false,
				}
			});
		}
	});
	
	
  $(document).on('ready', function () {
    // initialization of carousel
    $.HSCore.components.HSCarousel.init('.js-carousel');
    // initialization of tabs
    $.HSCore.components.HSTabs.init('[role="tablist"]');
    // initialization of counters
    var counters = $.HSCore.components.HSCounter.init('[class*="js-counter"]');
    // initialization of go to
    $.HSCore.components.HSGoTo.init('.js-go-to');
    // initialization of cubeportfolio
    $.HSCore.components.HSCubeportfolio.init('.cbp');
  });
  $(window).on('load', function () {
    // initialization of header
    $.HSCore.components.HSHeader.init($('#js-header'));
    $.HSCore.helpers.HSHamburgers.init('.hamburger');
    // initialization of HSMegaMenu component
    $('.js-mega-menu').HSMegaMenu({
      event: 'hover',
      pageContainer: $('.container'),
      breakpoint: 991
    });
  });
  $(window).on('resize', function () {
    setTimeout(function () {
      $.HSCore.components.HSTabs.init('[role="tablist"]');
    }, 200);
  });
</script>

<script >
	$(document).on('ready', function () {
	  // initialization of parallax
	  $('.dzsparallaxer').dzsparallaxer();
	});
</script>
         
<script >
  $(document).on('ready', function () {
	// initialization of popups
	$.HSCore.components.HSModalWindow.init('[data-modal-target]');
  });
</script>

<script>
  (function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.2';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
{% endcompress %}