{% load static %}
{% load staticfiles %}
{% load template_tags %}
{% load i18n %}
<!-- Rockart Hero -->
<section class="u-bg-overlay g-bg-black-opacity-0_3--after g-bg-img-hero g-py-120--md g-py-80" style="background-image: url({% static 'img/background/rockhero.jpg' %});">
  <div class="container u-bg-overlay__inner text-center g-color-white">
    <div class="u-heading-v2-5--bottom g-brd-3 g-brd-primary g-mt-30 g-mb-30">
      <h1 class="u-heading-v2__title g-font-weight-900 mb-0">Learn about Rock Art</h1>
    </div>

    <p class="lead g-px-60--md g-mb-40">From painted <strong>pictographs</strong> to carved, pecked, or incised <strong>petroglyphs</strong>, rock art offers a window into the beliefs and experiences of prehistoric peoples.
    </p>

  </div>
</section>
<!-- End Hero Info #02 -->