{% load i18n %}
{% load static %}
<!-- About -->
<section id="overview">
	<div class="shortcode-html">
	  <!-- Info Blocks -->
	  <div class="row no-gutters">
		<div id="rockovcontent" class="col-lg-7 g-bg-gray-dark-v1 g-pt-100 g-pb-80">
		  <header class="g-mb-35">
			<div class="g-mb-30">
			  <span class="d-block g-color-primary g-font-weight-700 g-font-size-default text-uppercase g-mb-15">Overview</span>
			  <h2 class="h2 g-color-white g-font-weight-700 mb-0">Prehistoric Rock Art</h2>
			</div>
			<div class="g-brd-bottom g-brd-6 g-brd-primary"></div>
		  </header>

		  <p class="g-color-white">Rock art comprises images made on rock surfaces (boulders, cliffs, caves, etc.) or boulders and cobbles that were arranged to form patterns (geoglyphs). Rock art is found throughout the world and ranges in age from ca. 40,000 years ago to the recent past. In the Great Basin, it spans the period 10,500 years ago (and perhaps as much as 14,800 years ago) to the nineteenth century.</p>
			
		  <p class="g-color-white">Rock art is strongly associated with hunter-gatherers (particularly in Ice Age Europe, Australia, and South Africa) but also with pastoralists (in North Africa) and farmers in Southeast Asia and Europe. European Ice Age cave art has been widely studied because it seemed to offer a window on the development of fully human cognition. Australian rock art’s detailed ethnographic contexts demonstrated the complex social uses of rock art, disproving that it was only the result of artistic impulses.</p>
			  
		  <p class="g-color-white">The Great Basin’s rich tradition of prehistoric rock art occurs in association with mundane domestic activities (such as seed or plant processing). It provides evidence that prehistoric hunter-gatherers (like their descendant communities) led complex cultural lives and complements the picture of their lives derived from the archaeological remains of economic activities.</p>
			
		  <p class="g-color-white">The main types of Great Basin rock art are:</p>		
		  <div class="row align-items-stretch">
			  <div class="col-sm-6 g-mb-30">
				<!-- Article -->
				<article class="h-100 g-flex-middle g-brd-left g-brd-3 g-brd-primary g-brd-white--hover g-bg-black-opacity-0_8 g-transition-0_3 g-pa-20">
				  <div class="g-flex-middle-item">
					<h4 class="h6 g-color-white g-font-weight-600 text-uppercase g-mb-10">Petroglyphs</h4>
					<p class="g-color-white-opacity-0_7 mb-0">Images made by removing the patina of a rock face by pecking or pounding, scratching, or abrading. This is the most common type of Great Basin rock art and it usually occurs in open settings. Petroglyphs are more durable and erode at a much slower rate than pictographs, the other main form of Great Basin rock art. </p>
				  </div>
				</article>
				<!-- End Article -->
			  </div>

			  <div class="col-sm-6 g-mb-30">
				<!-- Article -->
				<article class="h-100 g-flex-middle g-brd-left g-brd-3 g-brd-primary g-brd-white--hover g-bg-black-opacity-0_8 g-transition-0_3 g-pa-20">
				  <div class="g-flex-middle-item">
					<h4 class="h6 g-color-white g-font-weight-600 text-uppercase g-mb-10">Pictographs</h4>
					<p class="g-color-white-opacity-0_7 mb-0">Images made by applying pigment (“paint”) or charcoal to a rock face. Pictographs are very fragile and sensitive to exposure to the elements. They survive best in protected settings, such as caves or rock shelters, and are much less frequent than petroglyphs.</p>
				  </div>
				</article>
				<!-- End Article -->
			  </div>
		</div>
	   </div>
		<!-- Info Image -->
		<div class="col-lg-5 g-min-height-360 g-bg-size-cover g-bg-pos-center" data-bg-img-src="{% static 'img/drawings/45d.jpg' %}"></div>
		<!-- End Info Image -->	  
	  </div>
	  <!-- End Info Blocks -->
	</div>
</section>          
<!-- End About -->