{% load i18n %}
{% load static %}
<!-- Sites -->
<section id="sites" class="g-py-100" style="background-image: url('{% static "img/background/topo1000_invert.png" %}');"><a name="sites"></a>
    <div class="container">	
		
		
		  <header class="g-mb-35">
			<div class="g-mb-30">
			  <span class="d-block g-color-primary g-font-weight-700 g-font-size-default text-uppercase g-mb-15">{% trans "Sites" %}</span>
			  <h2 class="h2 g-color-white g-font-weight-700 mb-0">{% trans "Discover Great Basin Archaeology" %}</h2>
			</div>
			<div class="g-brd-bottom g-brd-6 g-brd-primary"></div>
		  </header> 

	</div>
	<div class="container">	
	  <div class="row">
		<div class="col-lg-4 g-mb-30">
		  <!-- Article -->
		  <article class="g-bg-beige">	
			<a name="crescent"></a> 
			<img class="img-fluid w-100" src="{% static 'img/photos/sites/crescentcity.jpg' %}" alt="Image Description">
			<div class="g-py-25 g-px-10">
			  <header class="g-brd-bottom g-brd-3 g-brd-primary g-pb-10 g-mb-25">
			  	<h3 class="g-font-weight-300 g-color-black">{% trans "Crescent City" %}</h3>
			  </header>
			  <p>Established in 1867 as the mill site for the Crescent Silver Mining Company, Crescent City was part of the Pahranagat Mining District – one of the earliest mining districts in eastern Nevada.</p> 
	
                <div class="shortcode-html">
                  <div id="accordion-10" class="u-accordion" role="tablist" aria-multiselectable="true">
                    <!-- Card -->
                    <div class="card rounded-0 g-brd-none g-bg-beige">
                      <div id="accordion-10-heading-01" class="u-accordion__header g-pa-0" role="tab">
                        <h4 class="mb-0 g-font-weight-600 g-font-size-default">
                          <a class="d-flex justify-content-between g-color-black g-text-underline--none--hover g-brd-bottom g-brd-3 g-brd-black g-pa-15-0" href="#accordion-10-body-01" data-toggle="collapse" data-parent="#accordion-10" aria-expanded="false" aria-controls="accordion-10-body-01">
                            <span class="d-flex">
                              Site history
                            </span>
                            <span class="u-accordion__control-icon g-ml-10">
                              <i class="fa fa-angle-right"></i>
                              <i class="fa fa-angle-down"></i>
                            </span>
                          </a>
                        </h4>
                      </div>
                      <div id="accordion-10-body-01" class="collapse" role="tabpanel" aria-labelledby="accordion-10-heading-01" data-parent="#accordion-10">
                        <div class="u-accordion__body g-pa-15-0">
                          <p>The community was small and short-lived because the nearby mines did not produce enough ore to be profitable, but it did have a permanent population of mine and mill workers who built their own residences near their workplaces. A successor company, the Alameda Silver Mining Company, dismantled the mill and moved it to another, presumably more promising, location around 1873. This marked the end of Crescent City, except for several small resurgences in the early 20th century which did not result in long-term occupations.</p>
                        </div>
                      </div>
                    </div>
                    <!-- End Card -->

                    <!-- Card -->
                    <div class="card rounded-0 g-brd-none g-bg-beige">
                      <div id="accordion-10-heading-02" class="u-accordion__header g-pa-0" role="tab">
                        <h4 class="mb-0 g-font-weight-600 g-font-size-default">
                          <a class="collapsed d-flex justify-content-between g-color-black g-text-underline--none--hover g-brd-bottom g-brd-3 g-brd-black g-pa-15-0" href="#accordion-10-body-02" data-toggle="collapse" data-parent="#accordion-10" aria-expanded="false" aria-controls="accordion-10-body-02">
                            <span class="d-flex">
                              Archaeological Work
                            </span>
                            <span class="u-accordion__control-icon g-ml-10">
                              <i class="fa fa-angle-right"></i>
                              <i class="fa fa-angle-down"></i>
                            </span>
                          </a>
                        </h4>
                      </div>
                      <div id="accordion-10-body-02" class="collapse" role="tabpanel" aria-labelledby="accordion-10-heading-02" data-parent="#accordion-10">
                        <div class="u-accordion__body g-color-black g-pa-15-0">
                         <p>The Basin and Range National Monument 3D Documentation Pilot Project documented two surviving architectural resources at Crescent City: the tall brick chimney of the departed stamp mill, and a stone cabin constructed by an unknown resident. These features were chosen for the pilot project because they have a great deal of interpretive value – they not only illustrate the vernacular architecture of mining, but reflect the substantial (and sometimes ill-advised) investment of capital and optimism which strongly influenced the development of Lincoln County during the late 19th century. </p>
                        </div>
                      </div>
                    </div>
                    <!-- End Card -->
                  </div>
                </div>	 
			</div>
					

			<a href="https://lcai10.legiongis.com/report/23fd43a5-acdc-41bd-0001-7b7728417493" class="btn btn-xl rounded-0 btn-block u-btn-primary g-font-weight-600 g-letter-spacing-0_5 text-uppercase g-mr-10 g-mb-15" target="_blank"><i class="fas fa-binoculars g-mr-3"></i> Explore</a>

		  </article>
		  <!-- End Article -->
		</div>

		<div class="col-lg-4 g-mb-30">
		  <!-- Article -->
		  <article class="g-bg-beige">
  			<a name="paiute"></a> 
			<img class="img-fluid w-100" src="{% static 'img/photos/sites/paiuterocks.jpg' %}" alt="Image Description">

			<div class="g-py-25 g-px-10">
			  <header class="g-brd-bottom g-brd-3 g-brd-primary g-pb-10 g-mb-25">
			  	<h3 class="g-font-weight-300 g-color-black">{% trans "Paiute Rocks" %}</h3>
			  </header>
			  <p>This highly visible prehistoric site lies within the <a class="g-color-dk-green g-text-underline" href="http://www.nvrockart.org/aan_pages/MI.html" alt="Learn about the Mt. Irish Archaeological District" target="_blank">Mt. Irish Archaeological District</a> and contains <a class="g-color-dk-green g-text-underline" href="{% url 'rockart' %}" alt="Learn about Rock Art">82 rock art panels of the Basin and Range tradition</a> on the boulders and bedrock of a prominent tuff outcrop next to a heavily traveled county road. 
				 <div class="shortcode-html">
                  <div id="accordion-11" class="u-accordion" role="tablist" aria-multiselectable="true">
                    <!-- Card -->
                    <div class="card rounded-0 g-brd-none g-bg-beige">
                      <div id="accordion-11-heading-01" class="u-accordion__header g-pa-0" role="tab">
                        <h4 class="mb-0 g-font-weight-600 g-font-size-default">
                          <a class="d-flex justify-content-between g-color-black g-text-underline--none--hover g-brd-bottom g-brd-3 g-brd-black g-pa-15-0" href="#accordion-11-body-01" data-toggle="collapse" data-parent="#accordion-11" aria-expanded="false" aria-controls="accordion-11-body-01">
                            <span class="d-flex">
                              Site description
                            </span>
                            <span class="u-accordion__control-icon g-ml-10">
                              <i class="fa fa-angle-right"></i>
                              <i class="fa fa-angle-down"></i>
                            </span>
                          </a>
                        </h4>
                      </div>
                      <div id="accordion-11-body-01" class="collapse" role="tabpanel" aria-labelledby="accordion-11-heading-01" data-parent="#accordion-11">
                        <div class="u-accordion__body g-pa-15-0">
                          <p>The site’s panels (all <a class="g-color-dk-green g-text-underline" href="{% url 'rockart' %}" alt="Learn about Rock Art">petroglyphs</a>) are representative of the Basin and Range tradition, which dates from 8,000 BP to the contact period. Their motifs include anthropomorphs, zoomorphs, and abstract designs like circles, spirals, rows of dots, ladder-like designs, rectangles with internal decoration, rake-like designs, meanders, arcs, and lines. Several circles are bisected by a vertical line, possibly a schematic portrayal of atlatls that would indicate a Middle to early Late Archaic date (ca. 3,000 to 1,000 BP) for some of the site’s rock art. Scratched graffiti dating from the 1940s to the present is a testimony to the fragility of the site and the ongoing threat of vandalism. Natural exfoliation of the outcrop has also damaged the site’s rock art.</p>
                        </div>
                      </div>
                    </div>
                    <!-- End Card -->

                    <!-- Card -->
                    <div class="card rounded-0 g-brd-none g-bg-beige">
                      <div id="accordion-11-heading-02" class="u-accordion__header g-pa-0" role="tab">
                        <h4 class="mb-0 g-font-weight-600 g-font-size-default">
                          <a class="collapsed d-flex justify-content-between g-color-black g-text-underline--none--hover g-brd-bottom g-brd-3 g-brd-black g-pa-15-0" href="#accordion-11-body-02" data-toggle="collapse" data-parent="#accordion-11" aria-expanded="false" aria-controls="accordion-11-body-02">
                            <span class="d-flex">
                              Archaeological Work
                            </span>
                            <span class="u-accordion__control-icon g-ml-10">
                              <i class="fa fa-angle-right"></i>
                              <i class="fa fa-angle-down"></i>
                            </span>
                          </a>
                        </h4>
                      </div>
                      <div id="accordion-11-body-02" class="collapse" role="tabpanel" aria-labelledby="accordion-11-heading-02" data-parent="#accordion-11">
                        <div class="u-accordion__body g-color-black g-pa-15-0">
                         <p>The Basin and Range National Monument 3D Documentation Pilot Project documented a selection of <a class="g-color-dk-green g-text-underline" href="{% url 'rockart' %}" alt="Learn about Rock Art">rock art panels</a> at Paiute Rocks, chosen to illustrate the range of conditions at the site and to take a “snapshot in time” to fully document current conditions and help inform potential repair and restoration work in the future. The project also documented the site’s entire outcrop at a lower resolution in order to capture the larger setting and context of the rock art panels.</p>
                        </div>
                      </div>
                    </div>
                    <!-- End Card -->
                  </div>
                </div>  
	
			</div>

			<a href="https://lcai10.legiongis.com/report/23fd43a5-acdc-41bd-0000-7b7728417493" class="btn btn-xl rounded-0 btn-block u-btn-primary g-font-weight-600 g-letter-spacing-0_5 text-uppercase g-mr-10 g-mb-15" target="_blank"><i class="fas fa-binoculars g-mr-3"></i> Explore</a>

		  </article>
		  <!-- End Article -->
		</div>

		<div class="col-lg-4 g-mb-30">
		  <!-- Article -->
		  <article class="g-bg-beige">
			<a name="redpigment"></a> 
			<img class="img-fluid w-100" src="{% static 'img/photos/sites/redpigment.jpg' %}" alt="Image Description">

			<div class="g-py-25 g-px-10">
			  <header class="g-brd-bottom g-brd-3 g-brd-primary g-pb-10 g-mb-25">
			  	<h3 class="g-font-weight-300 g-color-black">{% trans "Red Pigment Canyon/ Shooting Gallery III" %}</h3>
			  </header>
                <p>This large, complex prehistoric site lies within the <a class="g-color-dk-green g-text-underline" href="http://www.nvrockart.org/aan_pages/Shooting_Gallery.html" alt="Learn about the Shooting Gallery Archaeological District" target="_blank">Shooting Gallery Archaeological District</a> and contains over <a class="g-color-dk-green g-text-underline" href="{% url 'rockart' %}" alt="Learn about Rock Art">70 rock art panels</a>, including both <a class="g-color-dk-green g-text-underline" href="{% url 'rockart' %}" alt="Learn about Rock Art">petroglyphs and pictographs</a>, on the rocky slopes of a narrow canyon opening to the northeast.</p> 
				  
			  <div class="shortcode-html">
                  <div id="accordion-12" class="u-accordion" role="tablist" aria-multiselectable="true">
                    <!-- Card -->
                    <div class="card rounded-0 g-brd-none g-bg-beige">
                      <div id="accordion-12-heading-01" class="u-accordion__header g-pa-0" role="tab">
                        <h4 class="mb-0 g-font-weight-600 g-font-size-default">
                          <a class="d-flex justify-content-between g-color-black g-text-underline--none--hover g-brd-bottom g-brd-3 g-brd-black g-pa-15-0" href="#accordion-12-body-01" data-toggle="collapse" data-parent="#accordion-12" aria-expanded="false" aria-controls="accordion-12-body-01">
                            <span class="d-flex">
                              Site description
                            </span>
                            <span class="u-accordion__control-icon g-ml-10">
                              <i class="fa fa-angle-right"></i>
                              <i class="fa fa-angle-down"></i>
                            </span>
                          </a>
                        </h4>
                      </div>
                      <div id="accordion-12-body-01" class="collapse" role="tabpanel" aria-labelledby="accordion-12-heading-01" data-parent="#accordion-12">
                        <div class="u-accordion__body g-pa-15-0">
                          <p>The site’s panels include both <a class="g-color-dk-green g-text-underline" href="{% url 'rockart' %}" alt="Learn about Rock Art">petroglyphs and pictographs</a> which are primarily representative of the Basin and Range tradition, and are notable for their range of motifs and, in some cases, their densely packed designs. One panel features an unusual combination of techniques, with red pigment in-filling a concentric circle petroglyphic motif. Several Pahranagat-style anthropomorphs are also present, and one anthropomorph type may be Fremont in style. One of the Pahranagat anthropomorphs appears to hold an atlatl-like object, which may indicate a Middle to early Late Archaic age range (ca. 3,000 to 1,000 BP). Red Pigment Canyon/Shooting Gallery III is difficult to access, requiring a short hike in from the nearest road, and the panels in the upper part of the canyon require some scrambling to access.</p>
                        </div>
                      </div>
                    </div>
                    <!-- End Card -->

                    <!-- Card -->
                    <div class="card rounded-0 g-brd-none g-bg-beige">
                      <div id="accordion-12-heading-02" class="u-accordion__header g-pa-0" role="tab">
                        <h4 class="mb-0 g-font-weight-600 g-font-size-default">
                          <a class="collapsed d-flex justify-content-between g-color-black g-text-underline--none--hover g-brd-bottom g-brd-3 g-brd-black g-pa-15-0" href="#accordion-12-body-02" data-toggle="collapse" data-parent="#accordion-12" aria-expanded="false" aria-controls="accordion-12-body-02">
                            <span class="d-flex">
                              Archaeological Work
                            </span>
                            <span class="u-accordion__control-icon g-ml-10">
                              <i class="fa fa-angle-right"></i>
                              <i class="fa fa-angle-down"></i>
                            </span>
                          </a>
                        </h4>
                      </div>
                      <div id="accordion-12-body-02" class="collapse" role="tabpanel" aria-labelledby="accordion-12-heading-02" data-parent="#accordion-12">
                        <div class="u-accordion__body g-color-black g-pa-15-0">
                         <p>The Basin and Range National Monument 3D Documentation Pilot Project documented a selection of <a class="g-color-dk-green g-text-underline" href="{% url 'rockart' %}" alt="Learn about Rock Art">rock art panels</a> at Red Pigment Canyon/Shooting Gallery III, as well as the general setting of the canyon to capture the context of the panels. Because this site is remote and difficult to access, it is a good candidate for viewing and interpretation through online “virtual site access.”</p>
                        </div>
                      </div>
                    </div>
                    <!-- End Card -->
                  </div>
                </div>  	  

			</div>
			<a href="https://lcai10.legiongis.com/report/23fd43a5-acdc-41bd-0002-7b7728417493" class="btn btn-xl rounded-0 btn-block u-btn-primary g-font-weight-600 g-letter-spacing-0_5 text-uppercase g-mr-10 g-mb-15" target="_blank"><i class="fas fa-binoculars g-mr-3"></i> Explore</a>
		  </article>
		  <!-- End Article -->
		</div>
	  </div>
 </div>
</section>
