{% load static %}
{% load static %}
{% load template_tags %}
{% load i18n %}
<div class="g-overflow-hidden">
	<div id="rev_slider_1063_1_wrapper" class="rev_slider_wrapper fullscreenbanner-container" data-alias="highlight-showcase122" data-source="gallery" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
		<!-- START REVOLUTION SLIDER 5.4.1 auto mode -->
		<div id="rev_slider_1063_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.1">
			<ul>
					{% include 'partials/slides/slide_1.html' %}
					{% include 'partials/slides/slide_2.html' %}
					{% include 'partials/slides/slide_3.html' %}
			</ul>
			<div class="tp-bannertimer tp-bottom" style="height: 6px; background-color: #a4d65e;"></div>	
		</div>		
	</div>
	<!-- End Revolution Slider -->
</div>