*.egg-info
.DS_STORE
.tsconfig-paths.json
.frontend-configuration-settings.json
coverage/
lcai/staticfiles
webpack
node_modules
build

.elasticsearch
env
static_root

__pycache__
*.pyc
*.log
lcai/logs
lcai/export_deliverables
lcai/cantaloupe/*
lcai/uploadedfiles/*
lcai/settings_local.py
.vscode/
CACHE
