{% extends "views/report-templates/default.htm" %}
{% load i18n %}
{% load static %}

{% block header %}

<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/potree.css" />
<link rel="stylesheet" type="text/css" href="{% static 'js/reports/potree/libs/potree/potree.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'js/reports/potree/libs/jquery-ui/jquery-ui.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'js/reports/potree/libs/perfect-scrollbar/css/perfect-scrollbar.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'js/reports/potree/libs/openlayers3/ol.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'js/reports/potree/libs/spectrum/spectrum.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'js/reports/potree/libs/jstree/themes/mixed/style.css' %}">


<div class="report-media-wrapper">
    <div class="potree_container report-media-wrapper">
        <div id="potree_render_area" class="report-render-area"></div>
        <div id="potree_sidebar_container"> </div>
    </div>
</div>
{% endblock header %}