{% load static %}
{% load staticfiles %}
{% load template_tags %}
{% load i18n %}
<!-- SLIDE  -->
	<li data-index="rs-2987" data-transition="slideoverhorizontal" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="1500"  data-thumb="{% static 'img/photos/slides/slide3thumb.jpg' %}"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1000" data-fsslotamount="7" data-saveperformance="off" data-title="Innovation" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="" >
		<!-- MAIN IMAGE -->
		<img src="{% static 'img/photos/slides/slide3.jpg' %}"  alt=""  data-bgposition="center bottom" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg"  data-no-retina>
		<!-- LAYERS -->

		<!-- LAYER NR. 1 -->
		<div class="tp-caption tp-shape tp-shapewrapper " 
			id="slide-3203-layer-18" 
			data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
			data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
			data-width="full"
			data-height="full"
			data-whitespace="nowrap"
 
			data-type="shape" 
			data-actions=''
			data-basealign="slide" 
			data-responsive_offset="off" 
			data-responsive="off"
			data-frames='[{"delay":0,"speed":1000,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"bytrigger","speed":1000,"frame":"999","to":"opacity:0;","ease":"Power2.easeInOut"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"
			data-blendmode="multiply"
			data-lasttriggerstate="reset"
			style="z-index: 5;background-color:rgba(114, 110, 100, 0.90);border-color:rgba(0, 0, 0, 0);"> </div>
		
		<!-- LAYER NR. 2 -->
		<div class="tp-caption News-Title tp-resizeme" 
			id="slide-2985-layer-1" 
			data-x="['left','left','center','center']" data-hoffset="['80','80','0','0']" 
			data-y="['top','top','middle','middle']" data-voffset="['270','270','0','0']" 
			data-width="full"
			data-height="auto"
			data-whitespace="normal"
 			data-type="text" 
			data-responsive_offset="on" 
			data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"nothing"}]'
			data-textAlign="['left','left','center','center']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"
			style="z-index: 5; white-space: normal;">Explore<br>Lincoln County's<br>Past</div>
		
		<!-- LAYER NR. 3 -->
		<div class="tp-caption   tp-resizeme" 
			id="slide-2985-layer-2" 
			data-x="['left','left','center','center']" data-hoffset="['80','80','0','0']" 
			data-y="['top','top','middle','middle']" data-voffset="['500','500','100','100']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
			data-type="image" 
			data-responsive_offset="on" 

			data-frames='[{"from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"x:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
			data-textAlign="['left','left','left','left']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 6;text-transform:left;border-width:0px;"><img src="{% static 'img/greenbar.png' %}" alt="" data-ww="['350px','350px','350px','350px']" data-hh="['4px','4px','4px','4px']" width="350" height="4" data-no-retina> </div>

		<!-- LAYER NR. 3 -->
		<div class="tp-caption News-Subtitle tp-resizeme" 
			id="slide-2985-layer-3" 
			data-x="['left','left','center','center']" data-hoffset="['81','81','0','0']" 
			data-y="['top','top','middle','middle']" data-voffset="['525','525','125','125']" 
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
			data-type="text" 
			data-responsive_offset="on" 

			data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":1500,"to":"o:1;","delay":500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;","ease":"nothing"},{"frame":"hover","speed":"300","ease":"Power3.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 0.65);bs:solid;br:0 0 0px 0;"}]'
			data-textAlign="['left','left','left','left']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"
			data-actions='[{
					"event": "click", 
					"action": "simplelink", 
					"target": "_self", 
					"url": "#sites"
				}]'
			style="z-index: 7; white-space: nowrap;text-transform:left;cursor:pointer;">Take a Virtual Tour <i class="fas fa-caret-right"></i></div>

		
	</li>
